.login-panel {
  display: block;
  width: 250px;
  margin: 25vh auto 0;
}
.login-panel h2 {
  font-weight: normal;
  margin: 0 0 60px;
}
.login-panel input, .login-panel label {
  display: block;
  width: 100%;
}
.login-panel label {
  margin-bottom: 6px;
  font-weight: bold;
}
.login-panel input {
  box-sizing: border-box;
  height: 30px;
  padding: 2px 8px;
  margin-bottom: 20px;
}
.login-panel button {
  width: 70px;
  height: 28px;
  margin-bottom: 20px;
  cursor: pointer;
}
.login-panel .login-hint {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
}
